.FuzzyFinderContainer {
  width: 50vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FuzzyFinderResults {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}