.Repository {
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid grey;
}

.RepositoryContent {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.RepoDescription {
  width: 50%;
  font-size: 0.8em;  
}

.RepositoryTagsList {
  margin: 0 15px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 20%;
  max-width: 25%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.RepositoryTag {
  margin-top: 5px;
}