.RepositoryListContainer {
  width: 50vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RepositoryListContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.Repository {
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid grey;
}

.RepositoryContent {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.RepoDescription {
  width: 60%;  
}

.RepositoryTagsList {
  margin-left: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  max-height: 100%;
  overflow-y: auto;
}

.RepositoryTag {
  margin-top: 5px;
}